<div data-role="page" id="accueil">
<div data-role="header">
<h1>Produits disponibles</h1>
</div>
<div data-role="content">
<ol data-role="listview" data-inset="true" id="listeProduits">
  <li><a href="#produit">produit 1</a></li>
  <li><a href="#produit">produit 2</a></li>
</ol>
</div>
</div><!-- /page -->

<div data-role="page" id="produit" >
<div data-role="header">
<h1>Nom</h1>
<a href="#accueil" data-icon="arrow-l" class="ui-btn-left">Produits</a>
</div>
<div data-role="content">
<p>
  <strong>Description:</strong>
  description
</p>
<p>
  <strong>Prix:</strong>
  prix
</p>
<p>
  <strong>Image:</strong>
  image
</p>
<img width="60" height="70" src="image" />
</div>
</div><!-- /page -->